<h1>Multiple Module Angular Single Page Application</h1>
<p>This application was built with 5 modules:</p>
<ul>
    <li><strong>AppModule</strong> - parent module which is rendered</li>
    <li><strong>HomeModule</strong> - holds content of home page</li>
    <li><strong>ContentModule</strong> - holds content of content page</li>
    <li><strong>AboutModule</strong> - holds content of about page</li>
    <li><strong>SharedModule</strong> - declares and exports shared components across modules</li>
</ul>

<p>Each Module has a 'RootModule' which is bootstrapped to the parent module. This root module can hold the HTML/CSS/TS for the content of that module.</p>
<p>In the SharedModule, the PageHeaderComponent is defined and used across modules. In Angular 5, a component can only be declared in one module. Using a shared module allows for a component to be used in any module that has the shared module as an import.</p>
<p>This example also uses a shared service, which is delcared in the providers section of the AppModule and used in each other module.</p>

<button routerLink="/home">home</button>
<button routerLink="/content">content</button>
<button routerLink="/about">about</button>
<br>

<router-outlet></router-outlet>